<div class=" pass_types_main_section">
	<div class="pass-option">
		<a [routerLink]="['../dailypass']">
    		<button class="active">DAILY PASS</button>
	 	</a>
		<a [routerLink]="['../monthlypass']">
    		<button>MONTHLY PASS</button>
	 	</a>
	 	<a [routerLink]="['../localpass']">
    		<button>LOCAL PASS</button>
	 	</a>
	 	<a [routerLink]="['../renewalpass']">
    		<button>RENEWALS</button>
	 	</a>
	</div>
	<div class= "flavour-range-div">
		<div class="pass-flavour monthly_pass_kilometer_range">
			<div class="kilometer-range">
				<button class="pass-flavour__action_buttons">
					ONE MONTH
				</button>
				<button class="pass-flavour__action_buttons">
					TWO MONTHS
				</button>
				<button class="pass-flavour__action_buttons">
					SAMPLE
				</button>
				<button class="pass-flavour__action_buttons">
					SAMPLE
				</button>
			</div>

		</div>
		<div class="second-part">
			<div class="date-trip-time">
				<div class="current-date">
					<P>11-08-2017  /  04:11 PM</P>
				</div>
				<div class="date-validity">
					<p>Date Validity:  11/08/2017 - 04:11 PM(24 hrs)</p>
				</div>
				<div class="trips-validity">
					<p>Trips Validity: 5/Multi</p>
				</div>
				<div class="total-text">
					<span>Total Amount:</span>
				</div>
				<div class="amount">
					<span>&#8377;</span>
					<span>1500</span>
					<p>00</p>
				</div>
				<div class="activate-pass">
					<button class= "pass__default_btn">ACTIVATE / DONE</button>
				</div>
				<div class="back-button">
					<button class= "pass__default_btn" [routerLink]="['../../../dashboard']">BACK</button>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Modal for card success popup-->
 <ng-template role="dialog"   let-c="close" let-d="dismiss" #cardactionResponse >
     <div class="modal-content-card">
        <div class="close-modal ">
          <button>
            <img src="../src/images/close.png" (click)="c('Close click')">
          </button>
        </div>
        <div class="message-button">
          <span>Successful</span>
          <button  (click)="c('Close click')" autofocus>Done</button>
        </div>
     </div>
  </ng-template>

  <!-- Modal for card success popup ends-->  