/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
    background: #230258;
    color: #ced9e0;
    font-family:Oswald;
}

a {
    color: $color-gray;
}
a:hover {
    color: #ced9e0;
}
html,body{
    width:100%;
        height:100%;
        margin:0;
        padding:0;
}

webview{
display:block;
    border:none;
    height:80vh;
    width:95vw;
}