<div class="parent-class">
        <div class="button-style">
          <a [routerLink]="['../rate-card']">
            <button type="button">Rate Card</button>
          </a>
          <a [routerLink]="['../transaction']">
            <button type="button" class="">Transaction</button>
          </a>
          <a [routerLink]="['../pass']">
            <button type="button" class="">Pass</button>
          </a>
          <a [routerLink]="['../recharge']">
            <button type="button" class="">Recharge</button>
          </a>
          <a>
            <button type="button" name="" class="active">Doe Card</button>
          </a>
          <a [routerLink]="['../summary']">
            <button type="button" name="">Summary</button>
          </a>
          <a [routerLink]="['../profile']">
            <button type="button" name="">Profile</button>
          </a>
        </div>
        <div class="content-page">
          <div class="scrollable">
            <div class="settlement-card">
              <table class="first-table-settlement first-table-settlement-content">
                <thead>
                  <tr class="">
                    <th class="">SL. NO</th>
                    <th>CARD NUMBER</th>
                    <th>COST FOR CARD</th>
                    <th>MERCHANT COMMISSION</th>
                    <th>SALES AGENT COMMISSION</th>
                    <th>KYC STATUS</th>
                    <th>CARD ACTIVATION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>VERIFIED</td>
                    <td><img src="../src/images/cross.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>VERIFIED</td>
                    <td><img src="../src/images/cross.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/cross.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/cross.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>20.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>12243342222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>2000.00</td>
                    <td>VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>1224331242222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>2000.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>1224331242222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>2000.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>1224331242222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>2000.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>1224331242222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>2000.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td><span>&#8377;</span>1224331242222222</td>
                    <td><span>&#8377;</span>2334.00</td>
                    <td><span>&#8377;</span>30.00</td>
                    <td><span>&#8377;</span>2000.00</td>
                    <td>NOT VERIFIED</td>
                    <td><img src="../src/images/right.png" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="total-amount">
              <div class="card-summary-total"><span class="total-amount-text">Total</span></div>
              <div class="card-sold-total"><span class="total-card">20</span> </div>
              <div class="cost-for-card"><span class="total-card-amount">&#36; 3000</span></div>
              <div class="merchant-agent-commission"><span class="merchant-commission-total">&#36; 360</span> </div>
              <div class="sales-commission-total"><span class="sales-commission-total">&#36; 240</span> </div>
              <div style="width:14%;"></div>
              <div class="card-activation"><span class="card-activation-total"> 12</span></div>
            </div>
            <div class="details-division">
              <table class="details-table">
                <tr class="">
                  <th style="border-right:  1px solid #cccccc;">MERCHANT</th>
                  <th>SALES</th>
                </tr>
                <tr>
                  <td><span>Company Name</span> <span class="details-input-text">{{companyDetails.name}}</span></td>
                  <td><span>Service Agent Name</span><span class="details-input-text">{{operatorinfo.name}}</span></td>
                </tr>
                <tr>
                  <td><span>Authorized Person Name</span><span class="details-input-text">NA</span> </td>
                  <td><span>BANK NAME</span><span class="details-input-text">{{operatorinfo.bankAccount.bankName}}</span> </td>
                </tr>
                <tr>
                  <td><span>Phone Number</span><span class="details-input-text">{{companyDetails.contact.details.landlineNumber}}</span> </td>
                  <td><span>Account Number</span><span class="details-input-text">{{operatorinfo.bankAccount.accountNumber}}</span> </td>
                </tr>
                <tr>
                  <td><span>BANK NAME</span><span class="details-input-text">{{companyDetails.settlement.details.bankAccount.bankName}}</span></td>
                  <td><span>Name of Account</span><span class="details-input-text">{{operatorinfo.bankAccount.type}}</span> </td>
                </tr>
                <tr>
                  <td><span>Account Number</span><span class="details-input-text">{{companyDetails.settlement.details.bankAccount.accountNumber}}</span> </td>
                  <td><span>IFSC Code</span><span class="details-input-text">{{operatorinfo.bankAccount.IFSC}}</span> </td>
                </tr>
                <tr>
                  <td><span>Name of Account</span><span class="details-input-text">{{companyDetails.settlement.details.bankAccount.type}}</span> </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span>IFSC Code</span><span class="details-input-text">{{companyDetails.settlement.details.bankAccount.IFSC}}</span> </td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div class="merchant-sales-total">
              <div class="merchant-account-total"><span class="total-amount-text2">Total </span></div>
              <div class="merchant-account-amount"><span class="total-card-amount2">&#36; 20</span> </div>
              <div class="sales-account-total"><span class="merchant-commission-total2">Total</span></div>
              <div class="sales-account-amount"><span class="sales-commission-total2">&#36; 25.00</span></div>
            </div>
          </div>
          <div class="settlement-buttons">
            <button type="button" name="button" class="dashboard-meter pull-left" [routerLink]="['../../../dashboard']">
              <img src="../src/images/black-dashboard-icon.png" alt="" />
              <p>Dashboard</p>
            </button>
            <button type="button" name="button" class="settlement-meter pull-left">
              <img src="../src/images/white-settlements-icon.png" alt="" />
              <p>Settlements</p>
            </button>
            <button type="button" name="button" class="send-report pull-left" data-backdrop="static" data-toggle="modal" data-target="#myModal">
              <p>Send Report</p>
            </button>
            <div class="profile-calender" style="height: 100%; position: relative; width: 23%;" >
              <div style="display:flex; flex-direction: row; justify-content:space-between; height: 100%;width: 100%;">
                <div class='input-daterange ' style="width: 54%;">
                  <!-- ngb date -->
                  <input class="calender-to" placeholder="Start date" name="dp"[(ngModel)]="startdate_model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle(); e.close();" type="text" readonly>
                  <!-- ngb date -->
                </div>
                <div class='input-daterange'style="width: 54%;"> 
                  <!-- ngb date -->
                  <input class="calender-from" placeholder="End date" name="dq"[(ngModel)]="enddate_model" ngbDatepicker #e="ngbDatepicker" (click)="d.close(); e.toggle();" type="text" readonly>
                  <!-- ngb date -->
                </div>
              </div>
            </div>
            <div class="page-upto"><span> 1-19 of 100</span><img src="../src/images/leftarrow.png" alt="" class="pull-right" /> <img src="../src/images/rightarrow.png" alt="" class="pull-right" /> </div>
          </div>
        </div>
      </div>
      