.content-page {
    width: 100%;
    margin: 0% 1%;
    height: 90%;
    position: relative;
}
.scrollable {
    overflow-y: scroll;
    height: 90%;
    margin-bottom: 1%;
    width: 98%;
    position: relative;
}
ngb-datepicker{
    top: -538% !important;
}
.settlement-card {
    overflow-y: overlay;
    height: 91%;
    width: 100%;
    margin-bottom: 0;
}
.settlement-card::-webkit-scrollbar {
    display:none;
}
.first-table-settlement {
    border-radius: 4px;
    padding: 0 1px;
    width: 100%;
    border: solid 1px #fff;
    tr:nth-child(2n+1) {
        background: #ECF3FC;
    }
    tr:nth-child(2n) {
        background: #EDF9FE;
    }
    td {
        text-align: center;
        border: 1px solid #cccccc;
        padding: 1.6% 1%;
        font-family: Oswald-Light;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #333333;
    }
    th {
        border: solid 1px #cccccc;
        padding: 2.5% 2%;
        font-family: Oswald-Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.6px;
        color: #333333;
        text-align: center;
        background-color: #EDF9FE;
    }
}

.settlement-buttons {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    width: 98%;
    height: 7.5%;
    flex-direction: row;
    justify-content: space-between;
    .dashboard-meter {
        font-family: Oswald-Bold;
        background-color: #e3e3e6;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: #000000;
        width: 7.5%;
        border-radius: 4px;
        p {
            padding-top: 7px;
        }
    }

    .settlement-meter {
        font-family: Oswald-Bold;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        width: 7.5%;
        background-color: #6bb446;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px rgba(255, 255, 255, 0.32);
        border-radius: 4px;
        img{
            margin-bottom: -3px;
        }
    }

    .send-report {
        font-family: Oswald-Medium;
        width: 37%;
        border-radius: 4px;
        background-image: linear-gradient(to top, #e65600, #f7a600);
        box-shadow: -1px -4px 5px 0 rgba(0, 0, 0, 0.1);
        border: solid 1.3px rgba(255, 255, 255, 0.35);
        color: #fff;
    }
}

.calender-to {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
    background-color: #e3e3e6;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #8f8f8f;
    border: solid 1px rgba(255, 255, 255, 0.32);
    font-family: Oswald-Regular;
    font-size: 12.8px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    color: #545456;
    height: 96%;
    text-align: center;
    span {
        font-family: Oswald-Medium;
        font-size: 12.8px;
        letter-spacing: 0.5px;
        color: #545456;
    }
}

.calender-from {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
    background-color: #e3e3e6;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #8f8f8f;
    border: solid 1px rgba(255, 255, 255, 0.32);
    margin-left: 2.6%;
    font-family: Oswald-Regular;
    font-size: 12.8px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    color: #545456;
    height: 96%;
    text-align: center;
    span {
        font-family: Oswald-Medium;
        font-size: 12.8px;
        letter-spacing: 0.5px;
        color: #545456;
    }
}

.page-upto {
    font-family: Oswald-Bold;
    font-size: 19px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 22%;
    span {
        margin-top: 5%;
    }
    img {

    }
}
.rate-footer {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    width: 98%;
    height: 7.5%;
    flex-direction: row;
    .dashboard-meter {
        font-family: Oswald-Bold;
        background-color: #e3e3e6;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: #000000;
        width: 7.5%;
        border-radius: 4px;
        p {
            padding-top: 7px;
        }
    }

    .settlement-meter {
        font-family: Oswald-Bold;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        margin-left: 1%;
        color: #ffffff;
        width: 7.5%;
        background-color: #6bb446;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px rgba(255, 255, 255, 0.32);
        border-radius: 4px;
        img{
            margin-bottom: -3px;
        }
    }

}

.total-amount {
    padding: 1.5% 0%;
    width: 100%;
    background-image: linear-gradient(to top, #2f6fb4, #39c7e9);
    box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    font-family: Oswald-Medium;
    display: flex;
    .card-summary-total{
        width: 7%;
        text-align: center;
        .total-amount-text {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    }
    .card-sold-total{
        width: 14%;
        text-align: center;
        .total-card {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
        }
    }
        .digit-amount {
            width: 28px;
            height: 27px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
        }
    .cost-for-card{
        width: 17%;
        text-align: center;
        .total-card-amount {
            //margin-right: 15%;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    }
    .merchant-agent-commission{
        width: 15%;
        text-align: center;
        .merchant-commission-total {
            //margin-right: 24%;
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
    .sales-commission-total{
        width: 22%;
        text-align: center;
        .sales-commission-total {
            //margin-right: 11%;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
    .sales-commission-total {
        //margin-right: 11%;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffffff;
    }
    .card-activation{
        width: 8%;
        text-align: center;
        .card-activation-total {
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            color: #ffffff;
        }
    }

}

.details-table {
    width: 100%;
    border: solid 0.5px rgba(151, 151, 151, 0.12);
    th {
        width: 50%;
        background-color: white;
        object-fit: contain;
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #333333;
        padding-right: 25%;
        height: 65px;
        padding: 1.8% 8%;
    }
    td {
        border-right: 1px solid #cccccc;
        padding: 1.6% 7.5%;
        object-fit: contain;
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #4a4a4a;
    }
    tr:nth-child(2n+1) {
        background: #EDF9FE;
    }
    tr:nth-child(2n) {
        background: #ECF3FC;
    }
    span {
        width: 50%;
    }
    .details-input-text {
        width: 29%;
        float: right;
        font-family: Oswald-Light;
    }
}

.merchant-sales-total {
    padding: 1.5% 0%;
    width: 100%;
    background-image: linear-gradient(to top, #01a77a, #17eaa3);
    box-shadow: -1px -4px 5px 0 rgba(0, 0, 0, 0.1);
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    display: flex;
    .merchant-account-total{
        width: 23%;
        text-align: center;
        .total-amount-text2 {
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    }
    .merchant-account-amount{
         width: 25%;
         text-align: center;
         .total-card-amount2 {
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    }
    .sales-account-total{
         width: 25%;
         text-align: center;
         .merchant-commission-total2 {
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }

    }
    .sales-account-amount{
         width: 25%;
         text-align: center;
         .sales-commission-total2 {
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
}

//@media  for (min-height: 1000px)
@media (min-height: 1000px){
    .scrollable {
        max-height: 845px;
        .settlement-card {
         overflow-y: auto;
            height: 669px;
            .first-table-settlement {
            }
        }
    }
     .settlement-card::-webkit-scrollbar {
            display:none;
        }
}
