
/*-------------------------------------------------
SMACSS: PAGE - LANDING
-------------------------------------------------*/

body {
    background: #230258;
    padding-right: 0px !important;
}
.green-bckg{
    background: #52C940 !important;
}
.blue-bckg{
    background : #250653 !important;
}
input::-webkit-input-placeholder {
    color: #000000;
    opacity : 0.4;
}

//vehicle type pagination styling

.vehicle-shadow{
    background-image: url("../../src/images/carwhite@2x.png");
    background-color: #f99500 !important;
    box-shadow: 0 0 0 1px #110900, 0 4px 0 0 #fd8702, 0 3px 32px 0 rgba(255, 255, 255, 0.22) !important;
    border: solid 1px rgba(255, 255, 255, 0.32) !important;
    p{
        color: #ffffff !important;
    } 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.modal-backdrop.fade {
    opacity: 0.5;
}
.modal-open .modal {
    opacity: 1;
    overflow: auto;
}

body.modal-open {
    padding-right: 0px !important;
    overflow: auto;
}
.parent-div {
    height: 100%;
    position: absolute;
    width: 100%;
}
.dashboard-header {
    width: 100%;
    display: flex;
    height: 7%;
    position: relative;
    padding: 1% 2%;
    border: 1px red;
    background: #8a40ff;
    .header-section{
        width:25%;
        display: flex;
        flex-direction: column;
        display: flex;
        font-family: oswald-regular;
        .header-context{
            display: flex;
            margin-left: 5%;
            .content-item{
                width: 50%;
                span{
                    font-size: 13px;
                }
            }

        }
        .reader-div{
            width:100%;
            display: flex;
            flex-direction: row;
            padding: 3% 2%;
            display: flex;
            .reader-status{
                width: 100%;
                display: flex
            }
            .reader-status-button{
                width:30%;
            }
            .button-green{
                background: #96cf70;
                border-radius: 10px;
                padding: 13%;
                float: left;
            }
        }
    }
}

.toll-dashboard {
    display: flex;
    justify-content: center;
    padding: 0% 1% 1% 1%;
    background-color: #230258;
    height: 93.5%;
}

.open-gate-section {
    width: 100%;
    height: 90%;
    object-fit: contain;
    border-radius: 4px;
    background-color: #0e0127;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    padding: 0px;
}

.open-gate-section__top,
.open-gate-section__bottom {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
    height: 100.1%;
    position: relative;
    flex-wrap: wrap;
}
.toll-flavour-style{
    position: relative;
    height: 47%;
}

.vehicle-buttons {
    width: 74%;
    height: 62%;
    border-radius: 50%;
    margin: 10% 0%;
    object-fit: contain;
    border: solid 1px rgba(255, 255, 255, 0.32);
    img {
        width: 77%;
        height: 39px;
    }
    p {
        font-size: 15px;
        font-weight: 600;
        font-family: oswald-regular;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: #ffffff;
    }
    span{
        font-family: Oswald-Regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        font-size: 18px;
        color: #ffffff;
    }

}
.ttd-vehicle-buttons {
    width: 77%;
    height: 84%;
    border-radius: 50%;
    margin: 10% 0%;
    object-fit: contain;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p {
        font-size: 17px;
        font-weight: 600;
        font-family: oswald-regular;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: #ffffff;
    }
    .vehicle-classification{
        font-family: Oswald-Regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        font-size: 15px;
        color: #ffffff;
        line-height: 1.94;
    }
    span{
        font-family: Oswald-Regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        font-size: 18px;
        color: #ffffff;
    }

}


.vehicle_type--border--top {
    border-right : 1px solid #595169;
    border-bottom : 1px solid #595169;
}
.vehicle_type--border--bottom{
    border-right : 1px solid #595169;
}
.vehicle_type--border--side_bottom{
    border-bottom : 1px solid #595169;
}

.vehicle_type {
    width: 24.5%;
    text-align: center;
    height: 50%;
    button{
        margin-bottom: 7.5%;
    }
    .p-vehicle-type{
        text-align: center;
        font-size: 12px;
        font-family: oswald-regular;
    }
}
.vehicle-buttons{
    padding-top: 45%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 69%;

}

.vehicle-buttons--car {
   // background-image: url("../../src/images/carblack@2x.png");
    background-color: #efefef;
	box-shadow: 0 0 0 1px #110900, 0 4px 0 0 #fd8702, 0 3px 32px 0 rgba(255, 255, 255, 0.22);
    border: solid 1px rgba(255, 255, 255, 0.32); 
        p{
            color: #000;
        } 
    &:hover, &:active {
      //  background-image: url("../../src/images/carwhite@2x.png");
        background-color: #f99500;
        box-shadow: 0 0 0 1px #110900, 0 4px 0 0 #fd8702, 0 3px 32px 0 rgba(255, 255, 255, 0.22);
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        } 
      }
}

.vehicle-buttons--car-active{
    background-color: #f99500;
    box-shadow: 0 0 0 1px #110900, 0 4px 0 0 #fd8702, 0 3px 32px 0 rgba(255, 255, 255, 0.22);
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #ffffff;
    } 
}

.vehicle-buttons--bus {
 //   background-image: url("../../src/images/vanblack@2x.png");
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #a41201, 0 3px 0 0 #a80c0d;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    }  
    &:hover {
     //   background-image: url("../../src/images/vanwhite@2x.png");
        background-color: #a41201;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px #11242f, 0 4px 0 0 #a41201, 0 3px 0 0 #a80c0d;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--bus-active{
    background-color: #a41201;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px #11242f, 0 4px 0 0 #a41201, 0 3px 0 0 #a80c0d;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #ffffff;
    }
}
.ttd-vehicle-buttons--bus {
  background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #efc041, 0 3px 0 0 #a80c0d;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
   &:hover {
        background-color: #efc041;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #efc041, 0 3px 0 0 #0177c1;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
    }
}

.vehicle-buttons--lorry {
   // background-image: url("../../src/images/truckblack@2x.png");
    background-color: #efefef;
	box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #E6413B, 0 3px 0 0 #e14335;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
      //  background-image: url("../../src/images/truckwhite@2x.png");
        background-color: #E6413B;
        box-shadow: 0 2px 6px 0 #d73d2d, 0 0 0 1px #E6413B, 0 4px 0 0 #E6413B, 0 3px 0 0 #e14335;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--lorry-active {
    background-color: #E6413B;
    box-shadow: 0 2px 6px 0 #d73d2d, 0 0 0 1px #E6413B, 0 4px 0 0 #E6413B, 0 3px 0 0 #e14335;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #ffffff;
    }
}

.ttd-vehicle-buttons--lorry {
  //  background-image: url("../../src/images/truckblack@2x.png");
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #f75c4e, 0 3px 0 0 #e14335;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
      //  background-image: url("../../src/images/truckwhite@2x.png");
        background-color: #f75c4e;
        box-shadow:  0 0 0 1px #f75c4e, 0 4px 0 0 #f75c4e, 0 3px 0 0 #d73d2d;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}
.vehicle-buttons--truck {
   // background-image: url("../../src/images/axelblack-1@2x.png");
    background-color: #efefef;
	box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #b000fa, 0 3px 0 0 #b000f9;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
      //  background-image: url("../../src/images/3-axle-iconwhite@2x.png");
        background-color: #b000fa;
        box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #b000fa, 0 3px 0 0 #4688da;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--truck-active{
    background-color: #b000fa;
    box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #b000fa, 0 3px 0 0 #4688da;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #ffffff;
    }
}
.ttd-vehicle-buttons--truck {
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #00CBC0, 0 3px 0 0 #b000f9;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
        background-color: #00CBC0;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #00CBC0, 0 3px 0 0 #8d44ad;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--small_truck {
  //  background-image: url("../../src/images/axelblack-1@2x.png");
    background-color: #efefef;
	box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #008eff, 0 3px 0 0 #008eff;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
     //   background-image: url("../../src/images/axelwhite-2@2x.png");
        background-color: #008eff;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #008eff, 0 3px 0 0 #008eff;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--small_truck-active{
    background-color: #008eff;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #008eff, 0 3px 0 0 #008eff;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
}
.ttd-vehicle-buttons--small_truck {
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #00BC6C, 0 3px 0 0 #008eff;
	border: solid 1px rgba(255, 255, 255, 0.32);p{
        color: #000;
    } 
    &:hover {
        background-color: #00BC6C;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #00BC6C, 0 3px 0 0 #08aba0;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--container {
  //  background-image: url("../../src/images/axelblack-2@2x.png");
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #5cca00, 0 3px 0 0 #5dca00;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
       // background-image: url("../../src/images/axelwhite-2@2x.png");
        background-color: #5cca00;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #5cca00, 0 3px 0 0 #5dca00;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--container-active{
    background-color: #5cca00;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #5cca00, 0 3px 0 0 #5dca00;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
}
.ttd-vehicle-buttons--container {
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #9D5BAF, 0 3px 0 0 #5dca00;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
        background-color: #9D5BAF;
        box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #9D5BAF, 0 3px 0 0 #007d21;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}
.vehicle-buttons--bigger_truck {
 //   background-image: url("../../src/images/axelblack-3@2x.png");
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #f90c61, 0 3px 0 0 #ff0060;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
    //    background-image: url("../../src/images/axelwhite-3@2x.png");
        background-color: #f90c61;
        box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #f90c61, 0 3px 0 0 #ff0060;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}

.vehicle-buttons--bigger_truck-active{
    background-color: #f90c61;
    box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #f90c61, 0 3px 0 0 #ff0060;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #ffffff;
    }
}
.ttd-vehicle-buttons--bigger_truck {
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #f3825a, 0 3px 0 0 #ff0060;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
        background-color: #f3825a;
        box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #f3825a, 0 3px 0 0 #b91c57;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }

      }
}
.vehicle-buttons--Road_lorry {
   // background-image: url("../../src/images/axelbiggerblack-3@2x.png");
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #ff4200, 0 3px 0 0 #ff4300 !important;
    border: solid 1px rgba(255, 255, 255, 0.32) !important;
    p{
        color: #000;
    } 
    &:hover {
     //   background-image: url("../../src/images/axelbiggerwhite-3@2x.png");
        background-color: #ff4200;
        box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #ff4200, 0 3px 0 0 #ff4300;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }

      }
      
}

.vehicle-buttons--Road_lorry-active{
    background-color: #ff4200;
    box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #ff4200, 0 3px 0 0 #ff4300;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #ffffff;
    }
}
.ttd-vehicle-buttons--Road_lorry {
    background-color: #efefef;
	box-shadow: 0 0 0 1px #11242f, 0 4px 0 0 #f95c97, 0 3px 0 0 #ff4300;
    border: solid 1px rgba(255, 255, 255, 0.32);
    p{
        color: #000;
    } 
    &:hover {
        background-color: #f95c97;
        box-shadow:  0 0 0 1px #11242f, 0 4px 0 0 #f95c97, 0 3px 0 0 #c3522a;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            color: #ffffff;
        }
      }
}
a{
    outline:none;
}

//end of active vehicle type
.vehicle-type-screens-div{
    border-radius: 4px;
    background-color: #1C0B3C;
    border: solid 1px rgba(255, 255, 255, 0.32);
    margin: 0% 2%;
    height: 7.5%;

    .right-arrow-button{
        float : right;
    }
    .left-arrow-button{
        margin-right: 35%;
    }
    span{
        text-align: center;
        font-family: Oswald-Regular;
    }

}

.Vehicle-gate-open {
    height: 9%;
    margin: 1.2% 0% 3% 0%;
    position: relative;
    display: flex;
    justify-content: center;
    .open_gate_button {
        margin: 0px 0% 0% 1%;
        width: 76%;
        font-family: Oswald-Heavy;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        color : #ffffff;
        border-radius: 4px;
        background-color: #ffa700;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #946206;
    border: solid 1px rgba(255, 255, 255, 0.32);


    }

    .sync_button{
        margin: 0px 1%;
        width: 19%;
        font-family: Oswald-Bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 4px;
        background-color: #1dae66;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #007a3e;
    border: solid 1px rgba(255, 255, 255, 0.32);

    }
}

.toll-payment_types {
    display: flex;
    justify-content: space-between;
    margin: 0px 2%;
    height: 10%;
    flex-direction : row;

    button {
        font-family: Oswald-Medium;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        padding: 0% 0%;
    }
    .payment_type {
        width: 100%;
        border-radius: 3px;
        background-color: #00E6D7;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.32), 0 4px 0 0 #28cbc0, 0 3px 0 0 #007b70;
        border: solid 1px rgba(255, 255, 255, 0.32);
        margin-right : 0%;
    }
    .payment_type:not(:last-child) {
        margin-right : 2%;
    }
    .payment_type--active {
        width: 100%;
        border-radius: 3px;
        background-color: #fa7173;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #c34e4f, 0 2px 9px 0 #fa7173;
        border: solid 1px rgba(255, 255, 255, 0.32);
        margin-right : 0%;
    }
    .payment_type--active:not(:last-child) {
        margin-right : 2%;
    }
}
.vehicle-category{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 1% 2% 1% 2%;
    justify-content: space-between;

    .vehicle-usage {
        width: 49%;
        height: 9%;
        position: relative;
        display: flex;

        .vehicle-use {
            width: 100%;
            margin: 1.8% 0% 1% 0%;
            height: 100%;
            border-radius: 4px;
            background-color: #B81CF5;
            -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.32), 0 4px 0 0 #aa69c5, 0 3px 0 0 #8d44ad;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.32), 0 4px 0 0 #aa69c5, 0 3px 0 0 #8d44ad;
            border: solid 1px rgba(255, 255, 255, 0.32);
            font-family: Oswald-Medium;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
        }
        //active vehicle category class
        .vehicle-use-active {
            width: 100%;
            margin: 1.8% 0% 1% 0%;
            height: 100%;
            border-radius: 4px;
            background-color: #fa7173;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #c34e4f, 0 2px 9px 0 #fa7173;
            border: solid 1px rgba(255, 255, 255, 0.32);
            font-family: Oswald-Medium;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}
.overview {
    display: flex;
    height: 8%;
    justify-content: space-between;
    margin: 2.5% 0% 0% 0%;
    .overview__dashboard-meter {
        width: 13%;
        color: #fff;
        font-size: 10px;
        border-radius: 3px;
        background-color: #52C940;
        //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #447b27;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            font-family: Oswald-bold;
        }
        img{
            margin-bottom: 5px;
        }
    }
    .overview__settlements {
        width: 13%;
        color: #727174;
        font-size: 10px;
        border-radius: 3px;
        background-color: #e3e3e6;
        // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #8f8f8f;
        border: solid 1px rgba(255, 255, 255, 0.32);
        p{
            font-family: Oswald-bold;
        }
        img{
            margin-bottom: 4px;
        }
    }

    .wrong-vehicle-design {
        margin-left: 139px;
        margin-top: 133px;
    }
    .overview-lost-card {
        width: 44%;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        padding: 0 2%;
        border-radius: 3px;
        font-family: Oswald-Medium;
    }

    .lost-card__data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e1e4ec;
        padding: 0 1%;
        height: 78%;
        width: 100%;
        p {
            opacity: 0.3;
            font-family: Oswald-Medium;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.8px;
            text-align: left;
            color: #272f39;
        }
    }

    .lost-card__code {
        width: 100%;
        background-color: #e1e4ec;
        font-size: 23px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #272f39;
        text-align: right;
        border: none;
    }

}

.data-feild{
    display: flex;
    width: 100%;
    height: 9.5%;
    .rfid-number {
        width: 49%;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        margin: 0 3px 9px 3px;
        padding: 1.3% 1%;
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 7%;
            text-transform: uppercase;
            font-family: Oswald-Regular;
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.8px;
            text-align: left;
            color: #000000;
        }
    }

    .rfid-number-value {
        width: 100%;
        height: 100%;
        border: none;
        text-align: right;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        letter-spacing: 0.9px;
        color: #000000;
        font-family: Oswald-Regular;
    }
    .mobile-number{
        width: 50%;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        margin: 0 3px 9px 3px;
        padding: 1.3% 1%;
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 7%;
            text-transform: uppercase;
            font-family: Oswald-Regular;
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.8px;
            text-align: left;
            color: #000000;
        }
    }
    .adhar-number{
        width: 38%;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        margin: 0 3px 9px 3px;
        padding: 1.3% 1%;
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 7%;
            text-transform: uppercase;
            font-family: Oswald-Regular;
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.8px;
            text-align: left;
            color: #000000;
        }
    }
    .verify-button{
        display: flex;
        width: 12%;
        button{
            width: 100%;
            height: 85%;
            font-size: 12px;
            background-color: #ffffff;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #8e8e8e;
            border: solid 1px rgba(255, 255, 255, 0.32);
            font-size: 12px;
            font-family: Oswald-Bold;
            border-radius: 4px;
            color: grey;
        }
    }
    .rfid-p-style{
        left: 0px;
        height: 29%;
    }
}

.toll-card__modes {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.toll-card__modes--active {
    display: flex;
    width: 47%;
}

.toll-card__modes--balance {
   display: flex;
}

.card-type {
    display: flex;
    align-items: center;
    width: 50%;
    height: 56px;
    padding: 0 10px;
    object-fit: contain;
    //opacity: 0.5;
    border: solid 1px #ffffff;
    margin-right: 3px;
    p {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 6px;
    }
    input {
        width: 30px;
        height: 30px;
    }
}

.card-balance {
    width: 76%;
    padding: 10px 8px;
    height: 114px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    p {
        opacity: 0.5;
        font-family: Oswald-Light;
        font-size: 15px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #2f3460;
    }
    .card-balance__number {
        width: 100%;
        border: none;
        font-size: 59px;
        text-align: center;
    }
    input::-webkit-input-placeholder {
        color: #28ae61 !important;
        font-size: 72px;
    }
    .amount-section {
        margin-top: 8%;
        font-family: Oswald-Light;
    }
    .amount-total {
        font-size: 61px;
        margin-left: 0%;
        color: #28ae61;
        .rupee-sign {
            font-size: 25px;
            float: left;
            margin-left: 8%;
            margin-top: 7%;
        }
        .last-digit {
            font-size: 31px;
        }
    }
    .amount-total-valued {
        font-size: 61px;
        margin-left: 0%;
        color: #727174;
        .rupee-sign {
            font-size: 25px;
            float: left;
            margin-left: 8%;
            margin-top: 7%;
        }
        .last-digit {
            font-size: 31px;
        }
    }
}

input:focus {
    outline: none;
}

.text-margin-bottom {
    margin-bottom: 22px;
}

.toll-rate-cards {
    display: flex;
    justify-content: space-between;
    width: 101%;
    height: 40%;
    position: absolute;
}

.rate-card--values {
    width: 50%;
}

.rate-card__done-button--inactive {
    height: 27%;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background-color:#fa3f04;
    border: solid 1px rgba(255, 255, 255, 0.32);
    font-size: 30px;
    font-weight: bold;
    font-family: Oswald-Bold;
    margin-bottom: 7px;
    opacity : 0.5;
}
.rate-card__done-button--active{
    height: 27%;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background-color:#fa3f04;
    border: solid 1px rgba(255, 255, 255, 0.32);
    font-size: 30px;
    font-weight: bold;
    font-family: Oswald-Bold;
    margin-bottom: 7px;
}
.rate-card--recharge {
    height: 25%;
    display: flex;
    border-radius : 5px;
    width: 102%;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: 0;
    width: 260px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 #54c7fc;
    p {
        opacity: 0.4;
        font-family: oswald-regular;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.6px;
        text-align: left;
        color: #000000;
    }
}

.rate-card--recharge__value {
    border: none;
    width: 75%;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    text-align: right;
    color: #000000;
    font-family: oswald-regular;
    background: white;
}

.rate-card--values {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vehicles-rate-buttons {
    height: 49%;
    position: absolute;
    width: 49%;
    margin-top: 1.5%;
    .price-button-row{
        width: 100%;
        height: 51%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .rate-button {
            width: 23.7%;
            height: 89%;
            border-radius: 3px;
            background-color: #00A3F8;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #0177c1;
            border: solid 1px rgba(255, 255, 255, 0.32);
            font-family: oswald-regular;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            color: #ffffff;
        }
    }
}

.image-style {
    width: 28px;
    padding-right: 3px;
    padding-top: 5px;
}
.modal-dialog {
    top: 11%;
    .close-modal {
      text-align: right;
      button {
        padding: 1% 2%;
        background-color: #4a4a4a;
        border-radius: 0px 0px 0px 37px;
        outline: none;
      }
    }
}

.modal-content {
    width: 0% !important;

    .modal-body{
        text-align: center;
        margin-top: 10%;
    }
    .wrong-vehicle-text {
        font-size: 24px;
        margin-top: 9%;
        font-family: OpenSans-Light;
        font-style: normal;
        text-align: center;
        letter-spacing: normal;
        color: #656565;
    }
    .button-yes-no{
        display: flex;
        justify-content: space-between;
        margin: 12% 17% 14% 18%;
    }
    button{
        background: none;
        border: 0px;
        font-family: OpenSans;
        font-size: 28px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }
    .no-confirmation{
        color: #656565;
    }
    .yes-confirmation{
        color: #7dc133; 
    }
}

.overlay {
    z-index: 99;
    width: 100%;
    height: 750px;
    display: none;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
    top: 0;
}

.button-recharge-card {
    width: 49%;
    object-fit: contain;
    border-radius: 7px;
    background-color: #250653;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: white;
    border: 1px white solid;
    margin-left: 1%;

}

.recharge-card-margin {
    width: 100%;
    height: 66%;
    justify-content: space-between;
    .recharge-balance-row{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 30%;
        position: relative;
        .width-adjust {
            width: 51%;
            display: flex;
            margin: 0px 0px 8px 0px;
            button{
                width: 33%;
                border-radius: 6px;
                background-color: #250653;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                font-size: 20px;
                color: #ffffff;
                margin-right: 1%;
                font-family: Oswald-Regular;
                letter-spacing: 0.9px;
            }
        }
        .width-fix {
            width: 50%;
            display: flex;
            margin: 0px 0px 9px 2px;
            .balance-card-amount{
               padding: 6% 3%;
               background-color: white;
               border-radius: 6px;
                width: 75%;
                font-family: Oswald-Light;
                margin-right: 1%;
                .amount-section {
                    margin: 12% 0%;
                    width: 100%;
                    display: flex;
                    .total-balance-p{
                        width: 9%;
                        font-size: 34px;
                        color: black;
                    }
                    p{
                        color: #000000;
                        opacity: 0.4;
                        font-family: oswald-regular
                    }
                    .balance-input{
                        border: none;
                        width: 100%;
                        font-size: 47px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: 0.9px;
                        text-align: left;
                        color: green;
                        font-family: oswald-regular;
                    }
                    .last-digit-p{
                        width: 0%;
                        font-size: 32px;
                        color: black
                    }
                }

            }
            .clear-all-button{
                width: 24%;
                button{
                    width: 100%;
                    height: 101%;
                    font-size: 16px;
                    color: white;
                    border-radius: 6px;
                    background-color: #fa3f04;
                    font-family: oswald-medium;
                }
            }
        }
    }
}

.button-activate-card {
    width: 49%;
    height: 115px;
    object-fit: contain;
    border-divradius: 6px;
    background-color: #250653;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-size: 17px;
    color: #ffffff;
    border: 1px SOLID WHITE;
    margin-right: 7px;
}
//card action css

.modal-content-card {
    position: fixed;
    left: 35%;
    margin-top: 25%;
    width: 240px !important;
    height: 190px !important;   
    object-fit: contain;
    border-radius: 6px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;

    .message-button{
        height: 81%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0% 16%;

        span{
            font-size: 27px;
            color: black;
            opacity: 0.5;
        }
        button{
            margin-top: 16%;
            background: #4d4d4d;
            color: white;
            font-size: 21px;
            height: 25%;
            border-radius: 40px;
        }
    }
}
//card action css ends

.rate-card{
    button{
        margin: 0% 2% 2.5% 0%;
        width: 30.5%;
        height: 24.4%;
        object-fit: contain;
        border: solid 1px #fff;
        font-size: 25px;
        font-weight: 600;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: Oswald-Bold;
        img {
            height: auto;
            margin: auto;
        }
        background-color: #0F0225;
        &:hover {
            background : #4b2587;
            opacity : 0.5;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
            color: white;
        }  
    }   
}

.tool-card__proof {
    display: flex;
    justify-content: space-between;
    margin: 0 3px;
}

.card__proof {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    width: 45%;
    height: 56px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.card__proof--number {
    width: 100%;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0.9px;
    color: #000000;
}

.card__proof {
    p {
        opacity: 0.4;
        text-transform: uppercase;
        font-family: oswald-regular;
        font-size: 21px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        text-align: left;
        color: #000000;
    }
}


//open calendar modal

.close-modal{
    text-align: right;
    button{
        cursor: pointer;
        background: #4a4a4a;
        border-bottom-left-radius: 17px;
    }
}
.main-content{
    display: flex;
    padding: 31% 0%;
    margin: 0% 17%;
    justify-content: space-between;
    button{
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 2% 4%;
        border-radius: 4px;
        font-family: Oswald-Medium;
        color: #4a4a4a;
        background-color: #e3e3e6;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #8e8e8e;
        border: solid 1px rgba(255, 255, 255, 0.32);
    }
    .calendar-section{
        margin-right: -8%;
        input{
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 6% 3%;
            border-radius: 5px;
            font-family: Oswald-Medium;
            color: #4a4a4a;
            background-color: #e3e3e6;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #8e8e8e;
            border: solid 1px rgba(255, 255, 255, 0.32);
        }
        img{
            margin-left: -83%;
        }
    }
}


//open calendar modal ends here

.open-gate-section1 {
    width: 50%;
    height: 100%;
    //padding: 20px 6px;
}

.vehicle_type {
    padding: 0px;
}


.toll-gate-form {
    width: 50%;
    margin: 0 0 0 0.6%;
    position: relative;
    overflow: hidden;
    img{
        float: left;
        margin: 0 3px 8px 3px;
        border-radius: 4px;
        //width: 100%;
        height: 100%;
    }
}

.card-type {
    width: 105px;
}

.card-balance__number {
    width: 97%;
    font-size: 22px;
}

.overview-lost-card {
    width: 44%;
}

.toll-card__modes--active {
    width: 49%;
}

.rate-card--view {
    width: 49.2%;
}

.rate-card--recharge {
    width: 100%;
    padding: 0 7px;
}

//@media  for (max-width: 1024px)
@media (max-width: 1024px){
    .width-adjust {
        button{
            font-size: 16px !important;
        }
    }
    .content-item{
        span{
            font-size: 12px !important;
        }
    }
}

/*popup css*/
.modal_popup {
    background: rgba(73, 73, 73, 0.78);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    z-index: 1061;
    justify-content: center;

    //otp-aadhar verification-modal
.total-content {
    background-color: white;
    margin: auto;
    width: 70%;

    .otp-finger-content {
      width: 100%;
      height: 83%;
      display: flex;
      .otp-verification {
        width: 50%;
        .dont-have-text {
          width: 84%;
          padding: 15% 0% 27% 18%;
          p {
            font-family: Oswald-Bold;
            font-size: 24px;
            color: #7a7a7a;
            text-align: center;
            line-height: 32px;
          }
        }
        .opt-verification-img {
          text-align: center;
          padding: 16% 0%;
          button {
            padding: 4% 11%;
            border-radius: 40px;
            background-color: white;
            border: solid 2px #29b86f;
            font-weight: bold;
            font-family: Oswald-Regular;
            color: #29b86f;
            font-size: 16px;
          }
        }
        .otp-verified-success {
          text-align: center;
          padding-top: 24%;
        }
        .opt-success-message {
          text-align: center;
          padding-top: 7%;
          span {
            font-family: Oswald-Bold;
            font-size: 24px;
            font-weight: bold;
            color: #29b86f;
          }
        }
        .otp-text {
          text-align: center;
          font-family: Oswald-Bold;
          font-size: 24px;
          font-weight: bold;
          padding-top: 12%;
          color: #7a7a7a;
        }
        .otp-send-img {
          text-align: center;
          padding-top: 13%;
        }
        .otp-submit-button {
          text-align: center;
          padding-top: 14%;
          button {
            font-family: Oswald-Regular;
            font-size: 15px;
            letter-spacing: 1.2px;
            padding: 4% 13%;
            color: white;
            border-radius: 40px;
            background-color: #2bb673;
            border: solid 1px #2bb673;
          }
        }
      }
      .border-div {
        border: solid 1px #969696;
        width: 0%;
        margin: 8% 0% 10% 0%;
      }
      .finger-scanner {
        width: 50%;
        padding: 8% 5% 5% 5%;
        .finger-on-text {
          width: 93%;
          padding-bottom: 11%;
          p {
            font-size: 24px;
            text-align: center;
            color: #7a7a7a;
            font-family: oswald-bold;
            line-height: 32px;
          }
        }
        .fingerprint-img {
          text-align: center;
        }
        .use-fingerprint {
          text-align: center;
          padding-top: 12%;
          button {
            padding: 3% 12%;
            border-radius: 40px;
            border: solid 2px #2bb673;
            color: #2bb673;
            background: white;
            font-family: oswald-medium;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
      .finger-scanner-verified {
        width: 49%;
        padding: 16% 8% 8% 6%;
        .tick-img {
          text-align: center;
        }
        .fingerprint-recognized {
          font-family: Oswald-Bold;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          color: #29b86f;
          padding: 21% 0% 21% 0%;
        }
      }
      .finger-scanner-notverified {
        width: 49%;
        .notsuccess-img {
          text-align: center;
          padding-top: 24%;
        }
        .notrecognized-text {
          text-align: center;
          padding-top: 8%;
          p {
            font-family: Oswald-Bold;
            font-size: 32px;
            font-weight: bold;
            color: #f2872b;
          }
        }
        .try-again {
          text-align: center;
          padding-top: 14%;
          button {
            border-radius: 40px;
            background-color: #29b86f;
            border: solid 2px #29b86f;
            color: white;
            padding: 4% 9%;
            font-family: Oswald-Bold;
            font-size: 14px;
          }
        }
        .start-fingerprint-text {
          text-align: center;
          padding-top: 12%;
          font-family: Oswald-Bold;
          font-size: 31px;
          font-weight: bold;
          text-align: center;
          color: #7a7a7a;
          opacity: 0.2;
        }
        .show-fingerprint-img {
          text-align: center;
          padding-top: 11%;
        }
        .use-fingerprint {
          text-align: center;
          padding: 16% 0%;
          button {
            padding: 3% 9%;
            border-radius: 40px;
            border: solid 2px #2bb673;
            color: #2bb673;
            background: white;
            font-family: oswald-medium;
            font-size: 14px;
          }
        }
      }
      .input-otp-verify {
        width: 49%;
        .otp-text {
          text-align: center;
          font-family: Oswald-Bold;
          font-size: 24px;
          font-weight: bold;
          padding-top: 12%;
          color: #7a7a7a;
        }
        .otp-sent-text {
          text-align: center;
          padding: 8% 9% 0% 9%;
          p {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.71;
            letter-spacing: 0.2px;
            color: #4a494a;
            font-family: oswald-light;
          }
        }
        .enter-otp {
          text-align: center;
          color: #4a494a;
          font-family: oswald-bold;
          opacity: 0.2;
          padding-top: 6%;
        }
        .otp-feild {
          text-align: center;
          width: 100%;
          font-size: 26px;
          padding-top: 6%;
          input {
            width: 10%;
            font-family: Oswald-Regular;
            border: transparent;
            border-bottom: 2px #2bb673 solid;
            text-align: center;
            color: #000000;
          }
        }
        .resend-text {
          text-align: center;
          font-family: Oswald-Regular;
          font-size: 14px;
          font-style: italic;
          letter-spacing: 2.1px;
          color: #498fe1;
          padding: 2% 18%;
          text-align: right;
        }
        .otp-submit-button {
          text-align: center;
          padding: 7% 0% 14% 0%;
          button {
            font-family: Oswald-Regular;
            font-size: 19px;
            letter-spacing: 1.5px;
            border-radius: 40px;
            background-color: #2bb673;
            border: solid 1px #2bb673;
            color: white;
            padding: 4% 18%;
          }
        }
      }
    }
    .fingerprint-modal-footer {
      width: 100%;
      background-color: #2bb673;
      display: flex;
      padding: 2% 4% 1% 3%;
      img {
        position: fixed;
      }
      .footer-text {
        width: 85%;
        margin-left: 4%;
        p {
          margin-left: 1%;
          font-family: Oswald-Regular;
          font-size: 14px;
          letter-spacing: 1.2px;
        }
      }
      .skip-button {
        border-radius: 40px;
        background-color: #f9f9f9;
        border: solid 2px #ffffff;
        color: #29b86f;
        font-size: 16px;
        padding: 2% 7%;
        margin-top: -1%;
        font-family: Oswald-Medium;
        width : 25%;
      }
    }
  }

    .modal__wrapper {
        background-color: #fff;
        display: block;
        height: 53%;
        width: 70%;
        border-radius: 11px;
        margin : auto;

        .modal__header{
            height: 12%;
            display: flex;
            font-family: oswald-regular;

            .ttd-fine-header{
                justify-content: center;
                display: flex;
                width : 100%;
                span{
                    font-size: 24px;
                    margin-top: 2%;
                    color: black;
                }
            }
            .close-button{
                width: 5%;

                button {
                    border-bottom-left-radius: 90%;
                    height: 87%;
                    margin-left: 11%;
                    background-color: #4a4a4a;
                }
            }

        }
        .modal_content{
            height: 90%;
            padding: 0% 2%;

            .modal_content__items{
                height: 20%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2%;

                .extry_time{
                    color : white;  
                    width: 49%;
                    border-radius: 4px;
                    background-color: #26a7f2;
                    padding: 1%;
                    border-radius : 4px;
                    font-family : oswald-medium;

                    .entry_time_date_header{
                        display : flex;

                        .entry_time__div{
                            width : 50%;
                        }
                        .time{
                            text-align: right;
                            width: 50%;
                        }
                    }
                    .time_section{
                        display: flex;
                        flex-direction: row-reverse;
                        font-size: 43px;
                        font-family : oswald-regular !important;

                        span{
                            font-size : 18px;
                        }
                    }
                    .travel_time_span{
                        display : flex;
                        justify-content : left;
                    }
                    .balance_card_span{
                        display : flex;
                        justify-content : left;
                    }
                    .fine_amount_span{
                        display : flex;
                        justify-content : left;
                    }
                    .others_amount_span{
                        display : flex;
                        justify-content : left;
                    }
                }
                .black_background{
                    background-color: #0e0227 !important;
                }
                .white_background{
                    background-color: white !important;
                    box-shadow : 0 10px 20px 0 rgba(0,0,0,0.2);
                }
                sup{
                    font-size : 20px;
                    color : white;
                }
                .red_color{
                    color : #e74d3d !important;
                }
            }
            .pay__cancel__buttons{
                height: 15%;
                display: flex;
                justify-content: space-between;
                margin-top: 3.5%;
                font-family: oswald-bold;

                .pay_button{
                    width : 49%;
                    background : #28ac6d;
                    font-size : 30px;
                    color : white;
                    border-radius : 4px;
                }
                .cancel_button{
                    width : 49%;
                    background : white;
                    font-size : 30px;
                    color : black;
                    border-radius : 4px;
                    border : 1px solid black;
                }
            }
        }
        .img-warning{
            text-align : center;
         //  height: 59%;

            img{
                margin-top: 8%;
            }
        }
        .warning-message{
            padding: 0% 12%;
            text-align: center;
            font-family: oswald-regular;
            margin-top: 2%;

            span {
                font-size : 32px;
                color: black;
            }
        }
        .img-warning__fine_cancel{
            text-align: center;
            height: 43%;

            img{
                margin-top: 1.5%;
            }
            button {
                float: right;
                height: 20%;
                width: 5%;
                border-bottom-left-radius: 90%;
                background: #4a4a4a;
            }        
        }
        .warning-message__before_cancel{
            text-align: center;
            font-family: oswald-regular;
            color: black;
            font-size: 20px
        }
        .reason_cancellation{
            text-align: center;
            margin-top: 1%;
            height: 26%;

            input{
                height: 100%;
                width: 50%;
                border-radius : 4px;
            }
        }
        .yes_no{
            margin-top: 2%;
            height: 13%;
            padding: 0% 12%;
            display: flex;
            justify-content: space-between;

            .button-no{
                width: 49%;
                font-size: 28px;
                background: #fa3f04;
                border-radius : 4px;
                color : white;
                font-family: oswald-bold;
            }
            .button-yes{
                width: 49%;
                font-size: 28px;
                background: #28ac6d;
                border-radius : 4px;
                color: white;
                font-family: oswald-bold;
            }
        }
        .tab_card{
            height : 30%;
            text-align : center;
            padding: 7% 0%;
            font-family: oswald-medium;

            span{
                font-size : 40px;
                color: black;
                margin-top: 17%;
                height: 100%;
            }
        }
        .tap_image{
            text-align: center;
            height: 45%;
        }
        .authorised-text{
            text-align : center;
            font-family: oswald-regular;
            font-size: 16px;
            color: black;
        }
    }
    .wrapper_class_activateCard{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .warning-message__before_cancel{
            font-size: 29px !important;
        }
        .yes_no{
            margin-top: 6% !important;
            padding : 0% !important;
            justify-content: center !important;

            button{
                width: 39% !important;
            }
        }
    }
    
}

