.full-content {
    display: flex;
    width: 100%;
    padding: 1%;
    height: 100%;
    .left-content {
        width: 78%;
    }
}

.button-style {
    a {
        width: 100%;
        color: white;
    }
    height: 6%;
    position: relative;
    border-radius: 4px;
    padding: 0 0px;
    width: 98%;
    border: solid 1px #fff;
    margin: 1% 1%;
    display: flex;
    button {
        width: 100%;
        height: 100%;
        border: 0;
        font-family: Oswald-Regular;
        letter-spacing: 1px;
        font-size: 20px;
        line-height: 0.75;
        background: transparent;
        &:hover {
            font-family: Oswald-Regular;
            font-size: 20px;
            line-height: 0.75;
            background-image: linear-gradient(to top, #40a72b, #99e914);
            box-shadow: -1px -4px 5px 0 rgba(0, 0, 0, 0.1);
            letter-spacing: 1px;
        }
        &.active {
            background-image: linear-gradient(to top, #40a72b, #99e914);
            box-shadow: -1px -4px 5px 0 rgba(0, 0, 0, 0.1);
            border: solid 1.3px rgba(255, 255, 255, 0.35);
        }
    }
}
.second-division {
    padding: 1.5% 1%;
    border: 1px solid;
    width: 21.8%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: overlay;
    right: 0px;
    height: 91%;
    overflow-x: hidden;
    .your-last-text {
        opacity: 0.7;
        font-family: Oswald-Regular;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.07;
        letter-spacing: 1px;
        color: #343434;
        margin-top: 4%;
        width: 100%;
    }
    ul{
        padding: 1% 0%;
        li{
            display: flex;
            padding: 6% 9%;
            border: 1px solid #f2f2f2;
            margin: 2% -3%;
            background: white;
            background-color: white;
            .p-style{
                    font-size: 11px;
                    letter-spacing: 1px;
                    color: #343434;
                }
               .p-account-number{
                    opacity: 0.7;
                    font-size: 15px;
                    line-height: 1;
                    color: #343434;
               }
               .amount-li{
                    margin-left: 12%;
                    .p-amount{
                        font-size: 30px;
                        font-weight: 300;
                        color: #28ae61;
                        sup{
                            font-size: 15px;
                        }
                   }
               }

            }
    }
}
.overview1 {
    position: absolute;
    display: flex;
    bottom: 1%;
    width: 75.8%;
    height: 7%;
    flex-direction: row;
    justify-content: space-between;
    .overview__dashboard-meter {
        width: 9.5%;
        color: #fff;
        border-radius: 3px;
        background-color: #6bb446;
        //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #447b27;
        border: solid 1px rgba(255, 255, 255, 0.32);
        letter-spacing: 1px;
        font-family: Oswald-Bold;
        text-align: center;
        font-size: 10px;
    }
    .overview__settlements {
        padding: 0%;
        width: 9.5%;
        border-radius: 3px;
        background-color: #e3e3e6;
        border: solid 1px rgba(255, 255, 255, 0.32);
        font-family: Oswald-Bold;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: #727174;
    }
    .logout-button {
        width: 9.5%;
        border-radius: 3px;
        background-color: red;
        border: solid 1px rgba(255, 255, 255, 0.32);
        font-family: Oswald-Bold;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: white;
    }
    .update-account {
        width: 68.9%;
        object-fit: contain;
        font-family: Oswald-Medium;
        border-radius: 4px;
        background-image: linear-gradient(to top, #e65600, #f7a600);
        box-shadow: -1px -4px 5px 0 rgba(0, 0, 0, 0.1);
        border: solid 1.3px rgba(255, 255, 255, 0.35);
    }
}


.profile-main{
    width: 99%;
    height: 82.7%;
    position: relative;
    background: white;

    .basic-info-text{
      height: 7%;
      padding: 1.1% 2%;

      span{
        opacity: 0.7;
        font-family: Oswald-medium;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: 1px;
        color: black;
      }
      img{
        float: right;
        margin-top: -0.6%;
      }
    }
    .upper-section{
        height: 44%;
        padding: 0% 2%;

        .common-row{
          display: flex;
          width: 100%;
          height: 32%;

          .common-section{
            width: 50%;
            border: solid 1px rgba(0, 0, 0, 0.05);
            display: flex;
            padding: 1% 3%;

            .total-credit-img{
                width: 24%;
            }
            .total-credit-amount{
                width: 82%;

                .total-credit{
                  opacity: 0.3;
                  width: 100%;
                  font-family: Oswald-regular;
                  font-size: 13px;
                  line-height: 1.15;
                  color: #444444;
                }
                .credit-total-amount{
                  margin-top: 2%;
                  font-size: 44px;
                  font-family: oswald-light;
                  color: green;

                  sup{
                    font-size: 31px;
                    color: green;
                  }
                }
            }
            .common-inner-content {
                .same-upper-p {
                  font-family: Oswald-regular;
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.15;
                  letter-spacing: 0.5px;
                }
                .same-lower-p {
                  font-family: Oswald-regular;
                  font-size: 17px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: 0.5px;
                  letter-spacing: normal;
                  color: #000000;
                  margin-top: 7%;
              }
            }
          }
        }
    }
    .bank-detail-text {
        height: 5%;
        padding: 0% 2%;
        opacity: 0.7;
        font-family: Oswald-regular;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: 1px;
        letter-spacing: normal;
        color: #444444;
    }
}
