<div class="signin-style">
    <div class="my-image">
        <div class="left-text-section">
            <div class="hello-there-text"> Hello there! </div>
            <p class="p-section"> Sign in and start managing your Toll items</p>
        </div>
    </div>
    <img src="../src/images/d-o-e-l-o-g-o.png" class="doe-logo" />
    <div class="auth__content_section">
        <div class="siginin-div">
            <img src="../src/images/card-bg.jpg" class="signin-box-img">
            <div class="siginin-tag">
                <p>Tap DOE card back of your device to login</p>
            </div>
        </div>
        <form ng-submit="userLogin()">
            <div class="signin-box-text" >FORGOT PASSWORD?</div>
            <div class="sigin-content-forgotpassword">
                <div class="login-style" style="text-align: center;">Enter your your one time password(OTP)</div>

                <div class="login-password">OTP</div>
                <div class="password-input">
                    <input type="password"  ng-model="loginInfo.password" name="name" class="password-input-style" value="" placeholder="*****" style="width: 94%;">
                </div>
            </div>
            <div class="signin-button-div">
                <a>
                    <button class="signin-button hide-outline" ">SUBMIT<img class="arrow-go" src="../src/images/arrow.png" [routerLink]="['../inputNewPassword']"//> </button>
                </a>
            </div>
            <div class="forget-password-div">
                <span class="forget-password">Haven’t recived OTP? </span><a href="#forgotpassword-newpassword" class="request-link">Resend</a>
            </div>
        </form>
    </div>
    <div>
    <div>
        <img src="../src/images/coin.png" class="coin-logo" />
    </div>
</div>
