<div class="signin-style">
    <div class="my-image">
        <div class="left-text-section">
            <div class="hello-there-text"> Hello there! </div>
            <p class="p-section"> Sign in and start managing your Toll items</p>
        </div>
    </div>
    <img src="../src/images/d-o-e-l-o-g-o.png" class="doe-logo" [routerLink]="['../home']">    
    <div class="auth__content_section">
        <div class="siginin-div">
            <img src="../src/images/card-bg.jpg" class="signin-box-img">
            <div class="siginin-tag">
                <p>Tap DOE card back of your device to login</p>
            </div>
        </div>
        <div class="signin-box-text" > SIGN IN </div>
            <div class="sigin-content">
                <div class="login-style"> LOGIN </div>
                <div class="email-input">
                    <input type="text" class="email-input-style" value="" placeholder="12345" style=" padding-top: 3%;width: 94%;" [(ngModel)]="loginParams.username" ngDefaultControl>
                </div>
                <div class="login-password">PASSWORD</div>
                <div class="password-input">
                    <input type="password"  class="password-input-style" value="" placeholder="*****" style="width: 94%;" [(ngModel)]="loginParams.password" ngDefaultControl>
                </div>
            </div>
            <div class="signin-button-div">
                <button class="signin-button hide-outline" (click)="login()" >SIGN IN NOW <img class="arrow-go" src="../src/images/arrow.png" /> </button>
            </div>
            <div class="forget-password-div">
                <span class="forget-password">FORGOT PASSWORD?</span><a href="#forgotpassword-number" class="request-link" [routerLink]="['../inputMobileNo']">REQUEST</a>
            </div>
    </div>
    <div>
    <div>
        <img src="../src/images/coin.png" class="coin-logo" />
    </div>
</div>
<!-- Modal for card action popup ends-->
<div>
  <popup (setDefault)="definecardDefaults()"></popup>
</div>