<!--modal for insufficent amount -->
<div class="modal_popup" role="dialog" data-backdrop="false" role="dialog" *ngIf="inSufficentBalance">
  <div class="modal__wrapper">
    <div class="img-warning">
      <img src="../src/images/group-28.png" alt="" />
    </div>
    <div class="warning-message">
      <span>
        YOU HAVE INSUFFICIENT BALANCE
      </span><br>
      <span>
        PLEASE RECHARGE
      </span>
    </div>
  </div>
</div>
<!-- modal for insufficent amount end-->

<!-- modal for successful deduction  -->
<div class="modal_popup" role="dialog" data-backdrop="false" role="dialog" *ngIf="successPopup">
  <div class="modal__wrapper">
    <div class="img-warning">
      <img src="../src/images/fingerprint-success.png" alt="" />
    </div>
    <div class="warning-message">
      <span>
        FINE DEDUCTED SUCCESSFULL
      </span>
    </div>
  </div>
</div>
<!-- modal for successful deduction ends -->
<!-- modal for successful transaction  -->
<div class="modal_popup" role="dialog" data-backdrop="false" role="dialog" *ngIf="donePopupFlag">
  <div class="modal__wrapper">
    <div class="img-warning">
      <img src="../src/images/fingerprint-success.png" alt="" />
    </div>
    <div class="warning-message">
      <span>
        DONE
      </span>
    </div>
  </div>
</div>
<!-- modal for successful deduction ends -->

<!-- modal for activate card popup  -->
<div class="modal_popup" role="dialog" data-backdrop="false" role="dialog" *ngIf="warningPopupDashboard">
  <div class="modal__wrapper wrapper_class_activateCard">
    <div class="warning-message__before_cancel">
      <span>
        {{message}}
      </span>
    </div>
    <div class="yes_no">
      <button class="button-yes" appAutofocus (click)="cancelPopupForActivateCard()">OK</button>
    </div>
  </div>
</div>
<!-- modal for activate card popup ends -->
<!-- modal for TAP AGAIN  -->
<div class="modal_popup" role="dialog" data-backdrop="false" role="dialog" *ngIf="tap_again_warningPopup">
  <div class="modal__wrapper">
    <div class="img-warning">
      <img src="../src/images/noun-wrong-1890903.png" alt="" />
    </div>
    <div class="warning-message">
      <span>
        {{tap_again_message}}
      </span>
    </div>
  </div>
</div>
<!-- modal for modal for TAP AGAIN ends -->

<!-- modal for tab the card  -->
<div class="modal_popup" role="dialog" data-backdrop="false" role="dialog" *ngIf="tapCardPopup">
  <div class="modal__wrapper">
    <div class="tab_card">
      <span>PLEASE TAP THE CARD</span>
    </div>
    <div class="tap_image">
      <img src="../src/images/sync-card-icon.png" alt="" />
    </div>
    <div class="authorised-text">
      <span>*AUTHORISED PERSOND ONLY</span>
    </div>
  </div>
</div>
<!-- modal for modal for tab the card  ends -->

<!-- Modal for otp verification and fingerprint verification -->
<div class="modal_popup " role="dialog" data-backdrop="false" role="dialog" *ngIf="otpFingerPopup">
  <div class="total-content">
    <div class="close-modal">
      <button>
        <img src="../src/images/close.png" (click)="c('Close click')">
      </button>
    </div>
    <div class="otp-finger-content">
      <div class="otp-verification">
        <div class="dont-have-text">
          <p>Have a Fingerprint Enabled Device?</p>
        </div>
        <div class="opt-verification-img">
          <button>OTP VERIFICATION</button>
        </div>
      </div>
      <div class="border-div">
      </div>
      <div class="finger-scanner">
        <div class="finger-on-text">
          <p>Place your Finger on the Device Now.</p>
        </div>
        <div class="fingerprint-img">
          <img src="../src/images/fingerprint.png" alt="" />
        </div>
      </div>
    </div>
    <div class="fingerprint-modal-footer">
      <div>
        <img src="../src/images/alert.png" alt="" />
      </div>
      <div class="footer-text">
        <p>Loreum Ipsum is simply Dummytext</p>
      </div>
      <button class="skip-button" (click)="otpFingerConfirmed()">SKIP</button>
    </div>
  </div>
</div>
<!-- Modal for otp verification and fingerprint verification ends-->

<!-- Modal for fingerprint verified-->

<div class="modal_popup " role="dialog" data-backdrop="false" role="dialog" *ngIf="otpFingerconfirmedPopup">
  <div class="total-content">
    <div class="close-modal ">
      <button>
        <img src="../src/images/close.png" (click)="c('Close click')">
      </button>
    </div>
    <div class="otp-finger-content">
      <div class="otp-verification">
        <div class="dont-have-text">
          <p>Have a Fingerprint Enabled Device?</p>
        </div>
        <div class="opt-verification-img">
          <button>OTP VERIFICATION</button>
        </div>
      </div>
      <div class="border-div">
      </div>
      <div class="finger-scanner-verified">
        <div class="tick-img">
          <img src="../src/images/tick.png">
        </div>
        <div class="fingerprint-recognized">
          <p>FINGERPRINT RECOGNIZED</p>
        </div>
      </div>
    </div>
    <div class="fingerprint-modal-footer">
      <div>
        <img src="../src/images/alert.png" alt="" />
      </div>
      <div class="footer-text">
        <p>Loreum Ipsum is seems to</p>
      </div>
      <button class="skip-button" (click)="otpFingerNotRecognized()">SKIP</button>
    </div>
  </div>
</div>
<!-- Modal for fingerprint verified ends-->

  <!-- Modal for fingerprint not verified-->
<div class="modal_popup " role="dialog" data-backdrop="false" role="dialog" *ngIf="otpFingernotRecognizedPopup">
  <div class="total-content">
    <div class="close-modal ">
      <button>
        <img src="../src/images/close.png" (click)="c('Close click')">
      </button>
    </div>
    <div class="otp-finger-content">
      <div class="otp-verification">
        <div class="dont-have-text">
          <p>Have a Fingerprint Enabled Device?</p>
        </div>
        <div class="opt-verification-img">
          <button>OTP VERIFICATION</button>
        </div>
      </div>
      <div class="border-div">
      </div>
      <div class="finger-scanner-notverified">
        <div class="notsuccess-img">
          <img src="../src/images/notsuccess.png">
        </div>
        <div class="notrecognized-text">
          <p>Fingerprint not recognized.</p>
        </div>
        <div class="try-again">
          <button>TRY AGAIN</button>
        </div>
      </div>
    </div>
    <div class="fingerprint-modal-footer">
      <div>
        <img src="../src/images/alert.png" alt="" />
      </div>
      <div class="footer-text">
        <p>Loreum Ipsum is heems to</p>
      </div>
      <button class="skip-button" (click)="otpConfirmedFinger()">SKIP</button>
    </div>
  </div>
</div>
  <!-- Modal for fingerprint not verified ends-->

<!-- Modal for otp verified success-->
<div class="modal_popup " role="dialog" data-backdrop="false" role="dialog" *ngIf="otpconfirmedFingerPopup">
<div class="total-content">
    <div class="close-modal ">
      <button>
        <img src="../src/images/close.png" (click)="c('Close click')">
      </button>
    </div>
    <div class="otp-finger-content">
      <div class="finger-scanner-verified">
        <div class="tick-img">
          <img src="../src/images/tick.png">
        </div>
        <div class="fingerprint-recognized">
          <p>OTP Verified</p>
        </div>
      </div>
      <div class="border-div">
      </div>
      <div class="finger-scanner-notverified">
        <div class="start-fingerprint-text">
          <p>Start Using Your Fingerprint</p>
        </div>
        <div class="show-fingerprint-img">
          <img src="../src/images/fingerprint.png" alt="" />
        </div>
        <div class="use-fingerprint">
          <button>USE FINGERPRINT</button>
        </div>
      </div>
    </div>
    <div class="fingerprint-modal-footer">
      <div>
        <img src="../src/images/alert.png" alt="" />
      </div>
      <div class="footer-text">
        <p>Loreum Ipsum is heems to</p>
      </div>
      <button class="skip-button" (click)="optInputFinger()">SKIP</button>
    </div>
  </div>
</div>
<!-- Modal for otp verified success ends-->

  <!-- Modal to give otp code-->
<div class="modal_popup " role="dialog" data-backdrop="false" role="dialog" *ngIf="optinputFingerPopup">
  <div class="total-content">
    <div class="close-modal ">
      <button>
        <img src="../src/images/close.png" (click)="c('Close click')">
      </button>
    </div>
    <div class="otp-finger-content">
      <div class="input-otp-verify">
        <div class="otp-text">
          <span>OTP</span>
        </div>
        <div class="otp-sent-text">
          <p>we have sent OTP to the Mobile number for which aadhar card sync</p>
        </div>
        <div class="enter-otp">
          <p>Enter OTP Here</p>
        </div>
        <div class="otp-feild">
          <input class="otp-value" type="password" name="" maxlength="1">
          <input class="otp-value" type="password" name="" maxlength="1">
          <input class="otp-value" type="password" name="" maxlength="1">
          <input class="otp-value" type="password" name="" maxlength="1">
          <input class="otp-value" type="password" name="" maxlength="1">
          <input class="otp-value" type="password" name="" maxlength="1">
        </div>
        <div class="resend-text">
          <span>Resend</span>
        </div>
        <div class="otp-submit-button">
          <button>VERIFY</button>
        </div>
      </div>
      <div class="border-div">
      </div>
      <div class="finger-scanner-notverified">
        <div class="start-fingerprint-text">
          <p>Start Using Your Fingerprint</p>
        </div>
        <div class="show-fingerprint-img">
          <img src="../src/images/fingerprint.png" alt="" />
        </div>
        <div class="use-fingerprint">
          <button>USE FINGERPRINT</button>
        </div>
      </div>
    </div>
    <div class="fingerprint-modal-footer">
      <div>
        <img src="../src/images/alert.png" alt="" />
      </div>
      <div class="footer-text">
        <p>Loreum Ipsum is heems to</p>
      </div>
      <button class="skip-button" (click)="otpOrFinger()">SKIP</button>
    </div>
  </div>
</div>
  <!-- Modal to give otp code ends-->

 <!-- Modal to SELECT OTP OR FINGERPRINT-->
<div class="modal_popup " role="dialog" data-backdrop="false" role="dialog" *ngIf="otporFingerPopup">
<div class="total-content">
    <div class="close-modal ">
      <button>
        <img src="../src/images/close.png" (click)="c('Close click')">
      </button>
    </div>
    <div class="otp-finger-content">
      <div class="otp-verification">
        <div class="otp-text">
          <span>OTP</span>
        </div>
        <div class="otp-send-img">
          <img src="../src/images/send-otp.png" alt="" />
        </div>
        <div class="otp-submit-button">
          <button>SEND OTP</button>
        </div>
      </div>
      <div class="border-div">
      </div>
      <div class="finger-scanner">
        <div class="finger-on-text">
          <p>Start Using Your Fingerprint</p>
        </div>
        <div class="fingerprint-img">
          <img src="../src/images/fingerprint.png" alt="" />
        </div>
        <div class="use-fingerprint">
          <button>USE FINGERPRINT</button>
        </div>
      </div>
    </div>
    <div class="fingerprint-modal-footer">
      <div>
        <img src="../src/images/alert.png" alt="" />
      </div>
      <div class="footer-text">
        <p>Loreum Ipsum is simply Dummytext</p>
      </div>
      <button class="skip-button" (click)="otpFingerNotRecognized()">SKIP</button>
    </div>
  </div>
</div>
 <!-- Modal to SELECT OTP OR FINGERPRINT ends-->

 <!-- Modal for card action popup-->
<!-- <div class="modal_popup " role="dialog" data-backdrop="false" role="dialog" *ngIf="warningPopupDashboard">
  <div class="modal-content-card">
    <div class="close-modal ">
      <button>
        <img src="../src/images/close.png" (click)="c('Close click')">
      </button>
    </div>
    <div class="message-button">
      <span>Successful</span>
      <button  (click)="c('Close click')" autofocus>Done</button>
    </div>
  </div>
</div> -->

<!-- Modal for card action popup ends-->