<div class="parent-class">
    <div class="button-style">
      <a [routerLink]="['../rate-card']">
        <button type="button">Rate Card</button>
      </a>
      <a [routerLink]="['../transaction']">
        <button type="button" class="">Transaction</button>
      </a>
      <a [routerLink]="['../pass']">
        <button type="button" class="">Pass</button>
      </a>
      <a [routerLink]="['../recharge']">
        <button type="button" class="">Recharge</button>
      </a>
      <a [routerLink]="['../cardsettlement']">
        <button type="button" name="">Doe Card</button>
      </a>
      <a>
        <button type="button" class="active" name="">Summary</button>
      </a>
      <a [routerLink]="['../profile']">
        <button type="button" name="">Profile</button>
      </a>
    </div>
        <div class="content-page">
            <div class="scrollable background-summary-table">
              <!-- first table for all transaction -->
              <span class="summary-sub-headers">ALL TRANSACTION</span>
                <div class="fourth-scroll scroll-style ">
                    <table class="recharge-transaction-table left-adjust">
                        <tr>
                            <th></th>
                            <th>COUNT</th>
                            <th>TOTAL AMOUNT</th>
                            <th>INSENTIVE</th>
                            <th>GST</th>
                            <th>TDS</th>
                            <th>NET AMOUNT</th>
                        </tr>
                        <tr>
                            <td>Sale</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Passes</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Recharge</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Doe cards</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                    </table>
                </div>
              <!-- first table for all transaction ends-->
              <!-- second table for all transaction -->
              <span class="summary-sub-headers">CREDIT AND DEBIT DETAILS</span>
              <div class="fourth-scroll scroll-style ">
                    <table class="recharge-transaction-table left-adjust">
                        <tr>
                            <th></th>
                            <th>COUNT</th>
                            <th>TOTAL AMOUNT</th>
                            <th>INSENTIVE</th>
                            <th>GST</th>
                            <th>TDS</th>
                            <th>NET AMOUNT</th>
                        </tr>
                        <tr>
                            <td>Sale</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Passes</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Recharge</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Doe cards</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                    </table>
                </div>
               <!-- second table for all transaction ends--> 
               <!-- third table section ends -->
               <span class="summary-sub-headers">TOTAL AMOUNT TRANSFER DETAILS</span>
              <div class="total-amount-transafer-section ">
                 <div class="escrow-merchant-balance">
                   <span>Amount deposited to escrow account</span>
                   <p>5555</p>
                 </div>
                 <div class="escrow-merchant-balance">
                   <span>Balance goes to merchant account</span>
                   <p>5555</p>
                 </div>
              </div>
                <!-- third table section ends -->
            </div>
            <!--footer-->
            <div class="settlement-buttons">
              <button type="button" [routerLink]="['../../../dashboard']" name="button" class="dashboard-meter pull-left">
                <img src="../src/images/black-dashboard-icon.png" alt="" />
                <p>Dashboard</p>
              </button>
              <button type="button" name="button" class="settlement-meter pull-left" (click)="showtime()">
                <img src="../src/images/white-settlements-icon.png" alt="" />
                <p>Settlements</p>
              </button>
              <button type="button" name="button" class="send-report pull-left" data-backdrop="static" data-toggle="modal" data-target="#myModal">
                <p>Send Report</p>
              </button>
              <div class="profile-calender" style="height: 100%; position: relative; width: 23%;" >
              <div style="display:flex; flex-direction: row; justify-content:space-between; height: 100%;width: 100%;">
                <div class='input-daterange ' style="width: 54%;">
                  <!-- ngb date -->
                  <input class="calender-to" placeholder="Start date" name="dp"[(ngModel)]="startdate_model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle(); e.close();" type="text" readonly>
                  <!-- ngb date -->
                </div>
                <div class='input-daterange'style="width: 54%;"> 
                  <!-- ngb date -->
                  <input class="calender-from" placeholder="End date" name="dq"[(ngModel)]="enddate_model" ngbDatepicker #e="ngbDatepicker" (click)="d.close(); e.toggle();" type="text" readonly>
                  <!-- ngb date -->
                </div>
              </div>
            </div>
              <div class="page-upto"><span> 1-19 of 100</span><img src="../src/images/leftarrow.png" alt="" class="pull-right" /> <img src="../src/images/rightarrow.png" alt="" class="pull-right" /> </div>
            </div>
        </div>
     </div>