<div class="parent-class">
    <div class="button-style">
      <a [routerLink]="['../rate-card']">
        <button type="button">Rate Card</button>
      </a>
      <a [routerLink]="['../transaction']">
        <button type="button" class="">Transaction</button>
      </a>
      <a [routerLink]="['../pass']">
        <button type="button" class="">Pass</button>
      </a>
      <a [routerLink]="['../recharge']">
        <button type="button" class="active">Recharge</button>
      </a>
      <a [routerLink]="['../cardsettlement']">
        <button type="button" name="">Doe Card</button>
      </a>
      <a [routerLink]="['../summary']">
        <button type="button" name="">Summary</button>
      </a>
      <a [routerLink]="['../profile']">
        <button type="button" name="">Profile</button>
      </a>
    </div>
        <div class="content-page">
            <div class="scrollable">
                <div class="fourth-scroll scroll-style ">
                  <div *ngIf="noTransactionMesage" class="noTransactionMessage">
                    <span>{{noTransactionMesage}} </span>
                  </div>
                    <table class="recharge-transaction-table left-adjust" *ngIf="!noTransactionMesage">
                        <tr>
                            <th>S NO.</th>
                            <th>DATE</th>
                            <th>CARD NUMBER</th>
                            <th>AMOUNT</th>
                        </tr>
                        <tr  *ngFor="let item of recharge_logs.activities; let i = index">
                            <td *ngIf="!item.id">NA </td> <td *ngIf="item.id">{{i+1}}</td>
                            <td *ngIf="!item.activityTime">NA</td> <td *ngIf="item.activityTime">{{getDate(item.activityTime)}}</td>
                            <td *ngIf="!item.cardNumber">NA</td> <td *ngIf="item.cardNumber">{{item.cardNumber}}</td>
                            <td *ngIf="!item.amount.value">&#8377; NA</td> <td *ngIf="item.amount.value">&#8377; {{item.amount.value}}</td>
                        </tr>
                    </table>
                </div>
                <div class="total-recharge-div backgroung-green" *ngIf="!noTransactionMesage">
                    <div class="total-text"><span class="total-amount-text">Total </span> </div>
                    <div class="total-card-recharge"><span class="total-card"></span></div>
                    <div class="total-recharge-sum"><span *ngIf= "!totalRecharge" class=" recharge-total-amount">&#8377; -- </span><span *ngIf= "totalRecharge" class=" recharge-total-amount">&#8377; </span>{{totalRecharge}}</div>
                </div>
                <!--amount division-->
            </div>
            <!--footer-->
            <div class="settlement-buttons">
              <button type="button" [routerLink]="['../../../dashboard']" name="button" class="dashboard-meter pull-left">
                <img src="../src/images/black-dashboard-icon.png" alt="" />
                <p>Dashboard</p>
              </button>
              <button type="button" name="button" class="settlement-meter pull-left" (click)="showtime()">
                <img src="../src/images/white-settlements-icon.png" alt="" />
                <p>Settlements</p>
              </button>
              <button type="button" name="button" class="send-report pull-left" data-backdrop="static" data-toggle="modal" data-target="#myModal">
                <p>Send Report</p>
              </button>
              <div class="profile-calender" style="height: 100%; position: relative; width: 23%;" >
              <div style="display:flex; flex-direction: row; justify-content:space-between; height: 100%;width: 100%;">
                <div class='input-daterange ' style="width: 54%;">
                  <!-- ngb date -->
                  <input class="calender-to" placeholder="Start date" name="dp"[(ngModel)]="startdate_model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle(); e.close();" type="text" (dateSelect)="onDateStartSelect($event)" [minDate]="minDate "
                [maxDate]="maxDate" readonly>
                  <!-- ngb date -->
                </div>
                <div class='input-daterange'style="width: 54%;"> 
                  <!-- ngb date -->
                  <input class="calender-from" placeholder="End date" name="dq"[(ngModel)]="enddate_model" ngbDatepicker #e="ngbDatepicker" (click)="d.close(); e.toggle()" type="text" (dateSelect)="onDateEndSelect($event);" [minDate]="minDate"
                [maxDate]="maxDate" readonly>
                  <!-- ngb date -->
                </div>
              </div>
            </div>
              <div class="page-upto"><span *ngIf="!noTransactionMesage" > {{pagination.pageno}} of {{totalItems}}</span> <span *ngIf="noTransactionMesage" >0</span><a (click)="nextItems('PREVIOUS')"><img src="../src/images/leftarrow.png" alt="" class="pull-right" /></a> <a (click)="nextItems('NEXT')"><img src="../src/images/rightarrow.png" alt="" class="pull-right" /> </a></div>
            </div>
        </div>
     </div>