<div class="parent-class">
        <div class="button-style">
          <a>
            <button type="button" class="active">Rate Card</button>
          </a>
          <a [routerLink]="['../transaction']">
            <button type="button" class="">Transaction</button>
          </a>
          <a [routerLink]="['../pass']">
            <button type="button" class="">Pass</button>
          </a>
          <a [routerLink]="['../recharge']">
            <button type="button" class="">Recharge</button>
          </a>
          <a [routerLink]="['../cardsettlement']">
            <button type="button" name="">Doe Card</button>
          </a>
          <a [routerLink]="['../summary']">
            <button type="button" name="">Summary</button>
          </a>
          <a [routerLink]="['../profile']">
            <button type="button" name="">Profile</button>
          </a>
        </div>
        <div class="content-page">
            <div class="scrollable rate-scroll">
                <table class="first-transaction-table">
                    <tr>
                        <th>MERCHANT NAME</th>
                        <th>TOLL GATE DETAILS</th>
                        <th>FEE EFFECTIVE DATE</th>
                    </tr>
                    <tr *ngIf = "feesetup">
                        <td>
                            <p>Name of Concessionaire / OMT Contractor : {{companyDetails.name}}.<br> Name / Contact Details of Incharge : {{companyDetails.contact.details.landlineNumber}}</p>
                        </td>
                        <td>
                            <p>{{tollInfo.items[0].name}}<br>{{tollInfo.items[0].location.area}}<br>Km{{tollInfo.items[0].location.kiloMeter}}.{{tollInfo.items[0].location.highwayType}} IN {{tollInfo.items[0].location.state}}<br>Stretch : {{tollInfo.items[0].location.stretch}}<br>Tollable Length : {{tollInfo.items[0].location.tollableLength}}
                            </p>
                        </td>
                        <td> 
                            <p>Fee effective date : {{effectiveFrom}} <br> Due date of Toll revision : {{effectiveTill}} </p>
                        </td>
                    </tr>
                </table>
                <div class="second-scroll scroll-style" >
                    <table class="second-transaction-table left-adjust" *ngIf = "feesetup">
    
                        <tr>
                            <th>Type of Vehicle</th>
                            <th *ngFor="let jrny of feesetup.journeyTypes">{{jrny.label}}</th>
                        </tr>
                        <tr *ngFor="let vehicle of feesetup.vehicleTypes">
                            <td>{{vehicle.label}}</td>
                            <td *ngFor="let jrny of feesetup.journeyTypes; let i = index">&#8377;
                                <span *ngIf="feesetup.structure[vehicle.code][jrny.code]">{{feesetup.structure[vehicle.code][jrny.code].value}}</span>
                                <span *ngIf="!feesetup.structure[vehicle.code][jrny.code]">_.__ __</span>
                            </td>
                        </tr>
    
                    </table>
                </div>
    
               
            </div>
            <div class="rate-footer">
                <button type="button" [routerLink]="['../../../dashboard']" name="button" class="dashboard-meter pull-left">
                    <img src="../src/images/black-dashboard-icon.png" alt="" />
                    <p>Dashboard</p>
                </button>
                <button type="button" name="button" class="settlement-meter pull-left">
                    <img src="../src/images/white-settlements-icon.png" alt="" />
                    <p>Settlements</p>
                </button>
            </div>
        </div>
    </div>
    