<div class="parent-div">
  <div class="dashboard-header">
    <div class="header-section" style="border-right: 1px solid white;">
      <div class="header-context">
        <div class="content-item">
          <span>SERVICE</span>
        </div>
        <div class="content-item text-background">
          <span>DOE PARKING</span>
        </div>
      </div>
      <div class="header-context">
        <div class="content-item">
          <span>ZONE</span>
        </div>
        <div class="content-item text-background">
          <span>XXXXXXXX</span>
        </div>
      </div>
    </div>
    <div class="header-section" style="border-right: 1px solid white;">
      <div class="header-context">
        <div class="content-item">
          <span>PLAZA NAME</span>
        </div>
        <div class="content-item">
          <span>NDTL TOLL</span>
        </div>
      </div>
      <div class="header-context">
        <div class="content-item">
          <span>LANE NO.</span>
        </div>
        <div class="content-item">
          <span>7</span>
        </div>
      </div>
    </div>
    <div class="header-section" style="border-right: 1px solid white;">
      <div class="header-context">
        <div class="content-item">
          <span>SHIFT NO.</span>
        </div>
        <div class="content-item">
          <span>787878</span>
        </div>
      </div>
      <div class="header-context">
        <div class="content-item">
          <span>SUB SHIFT NO.</span>
        </div>
        <div class="content-item">
          <span>99</span>
        </div>
      </div>
    </div>
    <div class="header-section" style="border-right: 1px solid white;">
      <div class="header-context">
        <div class="content-item">
          <span>LOGIC DATE TIME</span>
        </div>
        <div class="content-item">
          <span>12/03/2017</span>
        </div>
      </div>
      <div class="header-context">
        <div class="content-item">
          <span>TOLL COLLECTOR ID</span>
        </div>
        <div class="content-item">
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="header-section">
      <div class="reader-div">
        <div class="reader-status">
          <span>READER STATUS</span>
        </div>
        <div class="reader-status-button">
          <button type="" class="button-green"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="toll-dashboard">
    <div class=" open-gate-section1 " style="display:flex;flex-direction:column;">
      <div class="open-gate-section" >
        <div class="toll-flavour-style">
          <div class="open-gate-section__top" id="open-gate-section__top" *ngIf = "vehicleNameFirst.length" >
            <div class="vehicle_type vehicle_type--border--top" *ngFor="let item of vehicleNameFirst ; let i = index" [hidden] = "hide_First_Screen">
              <button id="rate-button" *ngIf="item.label != selectVehicle.vehicleType.label" class="vehicle-buttons  {{item.class[i]}} hide-outline" value="500" [ngStyle] = "{'background-image': 'url(' + vehicl[item.label].image +')'}" (click)=" getVehicleType(item);" [disabled]="generic.activateDisable">
              <!-- <p>&#8377; </p> -->
              </button>
              <button id="rate-button" *ngIf="item.label == selectVehicle.vehicleType.label" class="vehicle-buttons  {{item.class[i]+'-active'}} hide-outline" value="500" [ngStyle] = "{'background-image': 'url(' + vehicl[item.label].image +')'}" (click)="getVehicleType(item.vehicleCode)" [disabled]="generic.activateDisable">
                 <p *ngIf="payParams.amount">&#8377; {{payParams.amount}}</p>
              </button>
              <p class="p-vehicle-type">{{item.label}}</p>              
            </div>
            <div class="vehicle_type vehicle_type--border--top" *ngFor="let item of vehicleNameSecond ; let i = index" [hidden] = "hide_Second_Screen">
              <button id="rate-button" *ngIf="item.vehicleCode != cardVehicleType" class="vehicle-buttons  {{item.class[i]}} hide-outline"  value="500" [ngStyle] = "{'background-image': 'url(' + vehicl[item.code].image +')'}" (click)="getVehicleType(item.vehicleCode)" [disabled]="generic.activateDisable">
              <!--   <p>&#8377; </p> -->
              </button> 
              <button id="rate-button" *ngIf="item.vehicleCode == cardVehicleType" class="vehicle-buttons  {{item.class[i]}} hide-outline"  value="500" [ngStyle] = "{'background-image': 'url(' + vehicl[item.code].image +')'}" (click)="getVehicleType(item.vehicleCode)" [disabled]="generic.activateDisable">
              <!--   <p>&#8377; </p> -->
              </button> 
              <p class="p-vehicle-type">{{item.label}}</p>
            </div> 
          </div>
        </div>
        <div class="vehicle-type-screens-div">
 
          <button class="left-arrow-button" (click)="previousScreen();">
            <img src="../src/images/next-copy@2x.png" alt="" />
          </button>
          <span>{{vehicle_Cat_no}} / {{totalScreen}}</span>
          <button class="right-arrow-button" (click)="nextScreen();" [disabled]="nextVehicleName">
            <img src="../src/images/next@2x.png" alt="" />
          </button>
        </div>
        <div class="Vehicle-gate-open">
          <button type="button" name="button"  class="open_gate_button">Open Gate</button>
          <button type="button" class="sync_button">
            <img src="../src/images/sync.png" alt="" />
            <p>SYNC</p>
          </button>
        </div>
        <!-- get journey type buttons -->
        <div class="toll-payment_types">
          <ng-container  *ngFor="let item of feesetup.journeyTypes; let i = index">
            <button [id]="i" type="button" name="button " class="payment_type"  [ngClass]="{'payment_type': !item.selected, 'payment_type--active': item.selected}"  [disabled]="generic.rechargeDisable"  (click)= "passNavigate(item.code)">{{item.label}}</button>
          </ng-container>
          
        </div>
        <!-- get journey type buttons ends-->
        <div class="vehicle-category">
          <div class="vehicle-usage" *ngFor="let item of collectionVehicleCatNumCode ;let i = index">
            <button type="button" name="button" *ngIf="item.category == selectVehicle.vehicleCat.category" class="vehicle-use-active" [disabled]="generic.activateDisable">{{item.category}}</button>
            <button type="button" name="button"  *ngIf="item.category != selectVehicle.vehicleCat.category" class="vehicle-use" (click)="getVehiclecategory(item);" [disabled]="generic.activateDisable" >{{item.category}}</button>
          </div>
        </div>
      </div>
      <div class="overview">
        <button type="button" name="button" ngDefaultControl class="overview__dashboard-meter" id="datepicker">
          <img src="../src/images/dashboard-icon.png" alt="" />
          <p>Dashboard</p>
        </button>
        <button type="button" name="button" ngDefaultControl class="overview__settlements">
          <img src="../src/images/system-view.png" alt="" />
          <p>SYSTEM VIEW</p>
        </button>
        <button type="button" name="button" ngDefaultControl class="overview__settlements" [routerLink]="['settlement']">
          <img src="../src/images/settlements-icon copy.png" alt="" />
          <p>Settlements</p>
        </button>
        <button type="button" name="button" ngDefaultControl class="overview__settlements" (click)="open(content)">
          <img src="../src/images/parking.png" alt="" />
          <p>Wrong Vehicle</p>
        </button>
        <div class="overview-lost-card">
          <div class="lost-card__data">
            <!-- <p>Lost card code</p> -->
            <input type="text" name="name" class="lost-card__code" value="" placeholder="Lost card code" [(ngModel)]="lostCard_number" [readonly]="generic.lostCardActive" (click)="lostCardTextbox()">
          </div>
        </div>
      </div>
    </div>
    <div class="toll-gate-form ">
      <div class="data-feild">
        <div class="rfid-number">
          <div class="rfid-p-style">
            <p>RFID</p>
          </div>
          <input type="text" name="name" class="rfid-number-value" placeholder="*********" [readonly]="generic.rfidActive">
        </div>
        <div class="rfid-number">
          <div class="rfid-p-style">
            <p class="text-margin-bottom">VEHICLE NO.</p>
          </div>
          <input type="text" name="name" class="rfid-number-value" value="" placeholder="VEHICLE NO" [(ngModel)]="holderInfo.vehicleNo" [readonly]="generic.vehiclenoActive" maxlength="10"  (keypress)="restrictSpecialcharachter($event)" uppercase>
        </div>
      </div>
      <div class="data-feild">
        <div class="rfid-number">
          <img src="../src/images/no-1@2x.png" class="car-number" alt="" />
        </div>
        <div class="rfid-number">
          <img src="../src/images/no-2@2x.png" class="car-number" alt=""  />
        </div>
      </div>
      <!-- <div>
        <img src="../src/images/no-1@2x.png" class="car-number" alt="" />
      </div> -->
      <div class="data-feild">
        <div class="rfid-number">
          <div class="rfid-p-style">
            <p class="text-margin-bottom">CARD NO.</p>
          </div>
          <input type="text" name="name" class="rfid-number-value" value="" placeholder="*********" [(ngModel)]="holderInfo.cardNo" [readonly]="generic.cardnoActive" maxlength="16" (keypress)="onlyNumberKey($event)">
        </div>
        <div class="rfid-number">
          <div class="rfid-p-style">
            <p class="text-margin-bottom">NAME</p>
          </div>
          <input type="text" name="name" class="rfid-number-value" value="" placeholder="NAME" [(ngModel)]="holderInfo.holderName" [readonly]="generic.nameActive" (keypress)="restrictNumeric($event)">
        </div>
      </div>
      <div class="data-feild">
        <div class="mobile-number">
          <div class="rfid-p-style">
            <p class="text-margin-bottom">MOBILE NO.</p>
          </div>
          <input  type="text" name="name" class="rfid-number-value" value="" placeholder="*** *** ****" size="10" maxlength="10" [(ngModel)]="holderInfo.phoneNo" [readonly]="generic.mobilenoActive" (keypress)="onlyNumberKey($event)" ngDefaultControl>
        </div>
        <div class="adhar-number">
          <div class="rfid-p-style">
            <p class="text-margin-bottom">AADHAR NO.</p>
          </div>  
          <input *ngIf="!editAadharFlag" (click)=" changeAadharMode(true);" type="text" name="name" class="rfid-number-value" value="" placeholder="**** **** ****" [ngModel]="holderInfo.aadharNo | displayCardNumber" maxlength="12" [readonly]="generic.aadharnoActive" (keypress)="onlyNumberKey($event)" ngDefaultControl>

          <input *ngIf="editAadharFlag"  type="text" name="name" class="rfid-number-value" value="" placeholder="**** **** ****" [(ngModel)]="holderInfo.aadharNo" maxlength="12" [readonly]="generic.aadharnoActive" (keypress)="onlyNumberKey($event)" ngDefaultControl>
        </div>
        <div class="verify-button">
          <button (click)="otpFingerscan()">VERIFY</button>
        </div>
      </div>
      <div class="recharge-card-margin">
        <div class="recharge-balance-row">
          <div class="width-adjust">
            <button id="activate" class="hide-outline " (click)="recharge()" [ngClass]="{'green-bckg': backgroundBtn.rechargebackground, 'blue-bckg':!backgroundBtn.rechargebackground}" [disabled]="generic.rechargeDisable">RECHARGE</button>
            <button id="recharge" class="hide-outline" (click)="activate()" [ngClass]="{'green-bckg': backgroundBtn.activatebackground, 'blue-bckg':!backgroundBtn.activatebackground}" [disabled]="generic.activateDisable">ACTIVATE</button>
            <button id="recharge" class="hide-outline" (click)="update()" [ngClass]="{'green-bckg': backgroundBtn.updatebackground, 'blue-bckg':!backgroundBtn.updatebackground}" [disabled]="generic.updateDisable">UPDATE</button>
          </div>
          <div class="width-fix">
            <div class="balance-card-amount">
              <p>Balance Amount</p>
              <div class="amount-section">
                <p class="total-balance-p" style="width:10%;">&#8377;</p>
                <div style="text-align: left;">
                  <input class="balance-input" id="amount" [(ngModel)]="holderInfo.currentAmount" [ngClass]="amountStyle" placeholder="10000" maxlength="7" readonly>
                </div>
                <!-- <p class="last-digit-p" [ngClass]="lastDigitStyle">00</p> -->
              </div>
            </div>
            <div class="clear-all-button">
              <button class="" (click)="clearAll()" [disabled]="generic.clearallDisable">CLEAR ALL</button>
            </div>
          </div>
        </div>
        <div class="toll-rate-cards">
          <div class="rate-card--view">
            <button type="button" name="button" ngDefaultControl class="rate-card__done-button" (click)="doneButtonClick(cardactionResponse)" [ngClass]="{'rate-card__done-button--active': !generic.doneDisable, 'rate-card__done-button--inactive':generic.doneDisable}" [disabled]="generic.doneDisable">DONE</button>
            <div class="rate-card--recharge">
              <p>Recharge Amount</p>
              <input type="text" *ngIf="generic.rechargeamountDisable"  name="name" id="rate-card--recharge__value1" class="rate-card--recharge__value" maxlength="6" value="" placeholder="&#8377; 10000" pattern="[0-9]" [(ngModel)]="recharge_amount" [disabled]="true"  ngDefaultControl>
              <input type="text" *ngIf="!generic.rechargeamountDisable" name="name" id="rate-card--recharge__value" class="rate-card--recharge__value" maxlength="6" value="" placeholder="&#8377; 10000" pattern="[0-9]" [(ngModel)]="recharge_amount" appAutofocus  [disabled]="false" (keypress)="enterFromKeyboard($event, cardactionResponse)"ngDefaultControl>
            </div>
            <div class="vehicles-rate-buttons">
              <div class="price-button-row">
                <button type="button" class="rate-button" (click)="rateButtonClick('200',rate_button);" value="200" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 200</button>
                <button type="button" class="rate-button" (click)="rateButtonClick('300',rate_button);" value="300" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 300</button>
                <button type="button" class="rate-button" (click)="rateButtonClick('400',rate_button);" value="400" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 400</button>
                <button type="button" class="rate-button" (click)="rateButtonClick('500',rate_button);" value="500" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 500</button>
              </div>
              <div class="price-button-row">
                <button type="button" class="rate-button" (click)="rateButtonClick('1500',rate_button);" value="1500" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 1500</button>
                <button type="button" class="rate-button" (click)="rateButtonClick('2000',rate_button);" value="2000" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 2000</button>
                <button type="button" class="rate-button" (click)="rateButtonClick('5000',rate_button);" value="5000" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 5000</button>
                <button type="button" name="button" id="rate-button1" class="rate-button" (click)="rateButtonClick('10000',rate_button);" value="10000" [disabled]="generic.rechargeamountDisable" ngDefaultControl>&#8377; 10000</button>
              </div>
            </div>
          </div>
          <div class="rate-card rate-card--values">
            <button type="button" name="button" class="
            number-button" (click)="numberButtonClick('7',rate_button);" value="7" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>7</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('8',rate_button);" value="8" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>8</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('9',rate_button);" value="9" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>9</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('4',rate_button);" value="4" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>4</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('5',rate_button);" value="5" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>5</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('6',rate_button);" value="6" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>6</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('1',rate_button);" value="1" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>1</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('2',rate_button);" value="2" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>2</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('3',rate_button);" value="3" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>3</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('0',rate_button);" value="0" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>0</button>
            <button type="button" name="button" class="number-button" (click)="numberButtonClick('00',rate_button);" value="00" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" ngDefaultControl>00</button>
            <button type="button" name="button" cursor [amount]="recharge_amount" id="eraseNumber" class="number-button" [disabled]="generic.rechargeamountDisable" (keypress)="enterFromKeyboard($event, cardactionResponse)" [(ngModel)]="eraseButton" ngDefaultControl><img src="../src/images/delete.png" /></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="total-content">
      <div class="modal-body">
        <img class="wrong-vehicle-design" src="../src/images/car.png" alt="" />
      </div>
      <div class="wrong-vehicle-text">
        ARE YOU SURE ?
      </div>
      <div class="button-yes-no">
        <button class="no-confirmation" (click)="c('Close click')">NO</button>
        <button class="yes-confirmation">YES</button>
      </div>
    </div>
    
  </ng-template>
  

<!-- Modal for card action popup-->
<ng-template role="dialog"   let-c="close" let-d="dismiss" #cardactionResponse >
   <div class="modal-content-card">
      <div class="close-modal ">
        <button>
          <img src="../src/images/close.png" (click)="c('Close click')">
        </button>
      </div>
      <div class="message-button">
        <span>Successful</span>
        <button  (click)="c('Close click')" autofocus>Done</button>
      </div>
   </div>
</ng-template>

<!-- Modal for card action popup ends-->
<div>
  <popup (setDefault)="definecardDefaults()"></popup>
</div>